name: C++ CI & Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install C++ dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y g++ cmake make

    - name: Build C++ project
      run: |
        rm -rf build
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        cmake --build .

    - name: Verify Docker is available
      run: |
        docker --version
        docker info

    - name: Build Docker image
      run: |
        docker build -t file-compressor-ci .

    - name: Run Docker sanity test
      run: |
        echo "hello hello hello" > input.txt
        docker run --rm \
          -v ${{ github.workspace }}:/data \
          file-compressor-ci compress /data/input.txt /data/output.huff
